body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar{
    background-color: cadetblue;
    height: 50px;
}

.logout{
    float:right;
    padding: 0.45rem 25px 20px 25px;
    align-items: center;
    border-radius:0.5rem;
    margin-right:15px;
    margin-top:10px;
    background-color:lightgray;
    color:blue;
    text-align: center;
}

.logo {
    float: left;
    text-indent: -999999px;
    background: url('bild2.png');
    width:100px;
    height:100px;
}

#navigation-container {
    width: 1100px;
    margin: 0 auto;
    height: 40px;
}
  
.navigation-bar {
    background-color: #eee8e8;
    height: 80px;
    width: 100%;
    text-align:right;
}
.navigation-bar img{
  float:left;
}
.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}
  
.navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}
  
.navigation-bar li a {
    color: black;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
}
  
#menu {
    float: right;
}

.course-info{
    margin-bottom: 50px;
    float:right;
    display: block;
    box-sizing: border-box;
    margin-right: 300px;
    padding-top: 10px;
}

input{
    height: 20px;
    block-size: 0 0 200px;
    margin-left: 10px;
}

.faculty_name{
    margin-left: 50px;
}

.department_name{
    margin-left: 18px;
}

.degree_type{
    margin-left: 59px;
}

.header{
    margin-top: 50px;
    margin-left: 200px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.sidenav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #f4f4f4;
    overflow-x: hidden;
    padding: 8px 0;
    margin-top:200px;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color:black;
    display: block;
    background-color: rgb(196, 238, 196);

}

.sidenav a:focus {
      background: rgb(172, 209, 172);
}
  
.sidenav a:hover {
    color:green;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.course-list{
    margin-top: 30px;
    margin-left:150px;
    margin-bottom: 50px;
    align-items: center;
    font-size: 18px;
}


table, th, td {
    border:1px solid black;
}

table{
    height:auto;
    width: 800px;
    margin-left:40px;
}

.table {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
    width: 800px;;
  }
  
.table td, .table tr {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.table tr:nth-child(even){
    background-color: #f2f2f2;
}
  
.table tr:hover {background-color: #ddd;}
  
.table td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgb(233, 233, 233);
    color: black;
}
.input-course{
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
    padding: 0.4rem 210px;
    
}
.input-course1{
    padding: 0.4rem 220px ;
}

.label {
    float: left;
    width: 170px;
}

.button-save{
    float:right;
    padding: 0.4rem 25px 5px 20px;
    /* align-items: center; */
    border-radius:0.5rem;
    background-color:blue;
    color:white;
    text-align: center;
    margin-right: 300px; 
    
}

 .radio_btn{
    margin-left: 200px;
    display: inline;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 30px;
    outline: 0;
    overflow: hidden;
    justify-content: space-between;
    
} 

.item-online {
    margin-right:50px;
    margin-left: 10px;
}

.item-stationary {
    margin-left:10px;
}

